<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/css/manpower/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/js/fontawesome.js"></script>

    <title>MANPOWER AND TRAINING </title>
</head>

<body>

    <%- include('partials/menu.ejs') %>
        <section class="container-banner ">
            <img class="banner" src="/images/header/manpower.png">

            <div class="left-tittle">
                <p class="banner-tittle">
                    <span>MANPOWER AND </span>
                    <span>TRAINING</span>
                </p>
                <i class="fas fa-play-circle"></i>
                <p style="display: inline-block;
                    padding-left: 2%;
                    font-weight: 500;">
                    FIND OUT MORE
                </p>
            </div>

            <div class="arrows">

                <div class="col-md-4 arrow-p" style="margin-left: 2%;">
                    <p>Manpower and training</p>
                </div>

            </div>
            <i class="  fas fa-chevron-right right"></i>

            <div class="social-icons-banner">
                <i class="fab fa-facebook-f icons-banner padding-14"></i>
                <i class="fab fa-whatsapp icons-banner"></i>
            </div>
        </section>
        <section>
            <section class="col-md-12" style="padding: 0px;
                margin-bottom: 12%;
                margin-top: 5%;
                height: 256px;">
                <section class="col-md-6 intro">
                    <div class="intro-text">
                        <div class="separator">
                            <div class="line"></div>
                            <h6>manpower and training</h6>
                        </div>
                    </div>
                </section>

                <section class="col-md-6 intro-section">
                    <div class="intro-description">
                        <p style="font-weight: 400;
                    color: #C4C4C4;">
                            We have a training school where fabricators and <br>
                            welders are trained and qualified. The training includes <br>
                            the following welding process <br>
                            <br>
                            SMAW <br>
                            FCAW <br>
                            GTAW <br>
                            SAW <br>
                            <br>
                            Our training program extends to other specific <br>
                            disciplines such as scaffold, machine operators, Cranes <br>
                            operators, Safety training, First Aid, Inspection <br>
                            training, English, Excel, Matrix, Drawing Software, <br>
                            Injury <br>
                            incident free (IFF), Fire Fighting among others.<br>
                            We also collaborate with local universities and <br>
                            institutes, delivering workshops and presentations, <br>
                            with the <br>
                            aim of hunting local talents
                        </p>


                    </div>

                </section>
            </section>
            <section class="col-md-12 card-div" style="    padding: 0px;    margin-bottom: 5%;">
                <div class="col-md-4 card-image">
                    <img class="fabric-full-img" src="/images/manpower-banner.jpg">
                </div>
                <div class="col-md-4 card-image">
                    <img class="fabric-full-img" src="/images/manpower2.jpg">
                </div>
                <div class="col-md-4 card-image">
                    <img class="fabric-full-img" src="/images/imagens-06.png">
                </div>
            </section>
        </section>
        <%- include('partials/footer.ejs') %>
</body>

</html>