/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./public/styles/services.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
@media only screen and (min-width: 270px) {
    .services_verticalText__PMIhP {
        display: none;
    }

    .services_verticalLine__4bRtt {
        display: none;
    }

    .services_bannerTittle__hvF3o {
        font-size: 17px;
    }

    .services_yardSection__aMPsR {
        display: none;
    }

    .services_shallowAlign__Qr0bS {
        margin: 0 auto;
        display: table;
    }

    .services_arrows__mZBHc {
        display: none;
    }


    .services_right__ad47J {
        display: none;
    }

    .services_left__pZsL0 {
        display: none;
    }

}

@media only screen and (min-width: 577px) {
    .services_introSectionLine__SK5eo{
        float: left;
        margin-left: 32%;
    }

    .services_imgFluid__DGDZz {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {

    .services_bannerTittle__hvF3o {
        font-size: 36px;
    }

    .services_about__xSVyB p {
        font-size: 15px;
    }

    .services_introSectionLine__SK5eo{
        margin-left: 8%;
    }

    .services_arrows__mZBHc {
        display: none;
    }
}

@media only screen and (min-width: 877px) {
    .services_introDescription__B_wPZ {
        padding-left: 8%;
    }

    .services_bannerTittle__hvF3o {
        font-size: 45px;
    }

    .services_arrows__mZBHc {
        display: inline-block;
    }

    .services_left__pZsL0 {
        display: inline-block;
    }

    .services_right__ad47J {
        display: inline-block;
    }
}

@media only screen and (min-width: 991px) {
    .services_introDescription__B_wPZ {
        padding-left: 23%;
    }

    .services_introTexto__YLcBX {
        padding-left: 23%;
    }

    .services_first-box__nM_3K {
        margin-left: 11%;
    }

    .services_box__u7T2I {
        width: 20%;
    }

    .services_yardSection__aMPsR {
        display: table;
    }

    .services_imgFluid__DGDZz {
        width: 94%;
    }

    .services_left__pZsL0 {
        position: absolute !important;
        top: 75%;
        left: 62%;
        display: inline-block;
    }

    .services_right__ad47J {
        position: absolute !important;
        top: 75%;
        left: 82%;
        display: inline-block;
    }
}

@media only screen and (min-width: 1000px) {
    .services_introDescription__B_wPZ {
        padding-left: 10%;
    }

    .services_introTexto__YLcBX {
        padding-left: 14%;
    }

    .services_verticalText__PMIhP {
        display: table;
    }

    .services_verticalLine__4bRtt {
        display: table;
    }
}

@media only screen and (min-width: 1230px) {
    .services_introDescription__B_wPZ {
        padding-left: 0px;
    }

    .services_introTexto__YLcBX {
        padding-left: 4%;
    }
}

@media only screen and (min-width: 1445px) {
    .services_verticalYardLine__azKR5 {
        margin-top: 23%;
    }
}

.services_banner__xkAY0 {
    opacity: 1.8 !important;
    width: 100%;
    height: auto;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: block;
    padding-top: 0% !important;
    padding-left: 0% !important;
}

.services_bannerTittle__hvF3o {
    font-size: 45px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 6.4px;
}

.services_containerBanner__3hst9 {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
}

.services_leftTittle___rMH9 {
    position: absolute;
    top: 53%;
    margin-left: 42%;
    transform: translate(-50%, -50%);
    width: 35%;
    text-align: left;
    font-weight: 800;
}

.services_leftTittle___rMH9,
.services_page-body__mmOKL span {
    display: table;
}

.services_padding14__xOxif {
    padding-bottom: 14px;
}

.services_iconsBanner__D8GM0 {
    display: block;
}

.services_socialIconsBanner__u33_4 {
    display: grid;
    position: absolute;
    top: 53%;
    left: 96%;
}

.services_arrows__mZBHc {
    position: absolute;
    top: 73%;
    left: 64%;
    width: 22%;
}

.services_arrows__mZBHc .services_fa__ReMzh,
.services_fas__vgWYh {
    font-size: 19px;
}

.services_bottom-left__zCVQ_ {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.services_arrow-p__q4h_3 {
    font-size: 10px;
    padding-right: 39%;
}

.services_quality-text__kvj2d {
    color: #fff;
    text-align: left;
    letter-spacing: 4.8px;
    color: #ffffff;
    opacity: 1;
}

.services_intro-section__8BeJQ {
    position: relative;
    color: #858585;
    font-family: "Montserrat", sans-serif;
    float: right;
}

.services_yardUtilities__lMWG8 {
    padding-top: 13%;
}

.services_page-body__mmOKL h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.services_page-body__mmOKL h2 span {
    background: #fff;
    margin: 0 15px;
}

.services_page-body__mmOKL h2:before,
.services_page-body__mmOKL h2:after {
    background: black;
    height: 2px;
    flex: 1;
    content: '';
}

.services_page-body__mmOKL h2.services_left__pZsL0:after {
    background: none;
}

.services_page-body__mmOKL h2.services_right__ad47J:before {
    background: none;
}

.services_intro-section__8BeJQ {
    position: relative;
    color: #858585;
    font-family: "Montserrat", sans-serif;
}

.services_yardUtilities__lMWG8 {
    padding-top: 13%;
}

.services_intro__lItlv {
    width: 200px;
    margin-right: 9%;
    float: right;
    font-family: "Montserrat", sans-serif;
}

.services_introDescription__B_wPZ {
    word-spacing: 8px;
}

.services_page-body__mmOKL h1 {
    letter-spacing: 6.4px;
    color: #ffffff;
    font-size: 34px;
    font-weight: 500;
    padding-top: 3%;
}

.services_verticalYardLine__azKR5 {
    display: table;
    left: 3%;
    float: right;
    padding-top: 6%;
    padding-right: 56%;
    width: 100%;
}

.services_verticalLine__4bRtt {
    border-left: 2px solid #858585;
    height: 177px;
    margin-left: 29%;
}

.services_verticalText__PMIhP {
    color: white !important;
    display: table !important;
    width: 100% !important;
    writing-mode: vertical-rl !important;
    float: right !important;
    padding-top: 25% !important;
    padding-right: 81% !important;
}

.services_yardImg__ATCGH {
    float: left;
    padding-top: 10%;
}

.services_yardDesc__zxlb1 {
    display: inline-block;
}

.services_yardImg__ATCGH img {
    height: 350px;
}

.services_fabricFullImg___ddZE {
    width: 100%;
    height: 470px;
    margin-top: 5%;
}

.services_about__xSVyB {
    font-family: "Montserrat", sans-serif;
    height: 882px;
}

.services_about__xSVyB p {
    font-size: 15px;
}

.services_aboutDiv__QEbUu {
    position: relative;
    display: contents;
}

.services_aboutAside__xPiwR {
    float: right;
    padding-right: 15%;
    color: #858585;
}

.services_eeaMarcadeagua__pB8gz {
    height: 200px;
}

.services_eeaMarcadeagua__pB8gz img {
    padding-top: 24%;
    width: 97%;
    position: absolute;
    opacity: 0.1;
}

.services_introTexto__YLcBX {
    font-family: "Montserrat", sans-serif;
}

.services_card__I8BYn {
    background-color: tomato;
}

.services_greyBoxCard__bks7r {
    background-color: #EDEDED !important;
    padding-left: 0px;
    padding-right: 0px;
}

.services_greyBoxCard2__1FJpf {
    font-weight: 700 !important;
    text-align: center !important;
    font-size: 15px !important;
}

.services_greyBoxCard__bks7r .services_bottom__bE_Ii {
    width: 100% !important;
    background-color: #22222266 !important;
    height: 10px !important;
    bottom: 0px !important;
    position: absolute;
}

.services_topBoxes__qMoKC {
    height: 200px;
    font-weight: 700;
    margin-bottom: 5%;
    margin-top: 5%;
    /*width: 100%;*/
}

.services_serviceTitle__k8tVF {
    padding: 15%;
}
.services_shallowSection___FZ9E {
    display: table;
    margin: 0 auto;
}
