@media only screen and (min-width: 1314px) {
    .default-search{
        padding-top: 3%;
    }
}
@media only screen and (min-width: 414px) {

    .logo-nav, .default-search{
        padding-top: 7%;
    }
    .menu-operations{
        display: none;
    }
}

@media only screen and (min-width: 500px) {
    .menu-operations{
        display: none;
    }

    .logo-nav, .default-search{
        padding-top: 7%;
    }
    
    .yardImg{
        float: none;
    }

    .yardImg img{
        width: 100%;
    }
    .banner{
        width: 100%;
    }

    .main-menu{
        width: 100%;
    }

    .verticalText{
        display: none;
    }
    
    .about{
        height: 615px;
    }

    .eeaMarcadeagua img{
        padding-top: 78%;
    }

    .introDescription{
        padding-left: 11%;
    }

    .fabricFullImg{
        height: 420;
    }

    .footer-section{
        padding-left: 3%;
    }

    .contact-section{
        padding-left: 0%;
    }

    .other-section{
        padding-right: 1%;
    }

    .copyright{
        padding-top: 9%;
    }
}


@media only screen and (max-width:400px) {

    .bannerTittle{
        font-size: 40px;
    }
    
    .menu-operations{
        display: none;
    }

    .logo-nav, .default-search{
        padding-top: 7%;
    }

    .yardImg img{
        width: 100%;
    }

    .introDescription{
        padding-left: 8%;
    }

    .verticalText{
        margin-right: 2%;
    }

    .verticalYardLine{
        margin-top: 30%;
        margin-right: -2%;
    }

    .contact-section{
        padding-left: 6%;
    }

    .copyright{
        margin-top: 26%;
    } 
    .aboutDiv{
        margin: 0 auto;
        display: table;
    }

    .about{
        height: 894px;
    }

    .eeaMarcadeagua img{
        padding-top: 203%;
    }

    .logo-footer{
        margin-top: 6%;
    }

    .fabricFullImg{
        height: 361px;
    }

    .leftTittle{
        padding-left: 14%;
    }
}