  @media only screen and (min-width: 270px) {
      .vertical-text {
          display: none;
      }

      .verticalLine {
          display: none;
      }

      .banner-tittle {
          font-size: 17px;
      }

      .arrows {
          display: none;
      }

      .left {
          display: none;
      }

      .right {
          display: none;
      }

      .fabric-full-img {
          height: auto!important;
      }

      .eea-marcadeagua img {
          /*padding-top: 74%;*/
      }

  }

@media only screen and (min-width: 577px) {
    .intro-section-line {
        float: left;
        margin-left: 32%;
    }

    .yard-img-div {
        margin: 0px;
        display: inline;
    }

    .yard-desc {
        padding-left: 4%;
    }

    .yard-utilities {
        padding-left: 4%;
    }

    .yard-desc {
        display: inline-block;
    }

    .about p {
        font-size: 11px;
    }
}

@media only screen and (min-width: 600px) {

    .banner-tittle {
        font-size: 36px;
    }

    .about p {
        font-size: 15px;
    }

    .intro-section-line {
        margin-left: 0px;
    }

    .arrows {
        display: none;
    }

    .right {
        display: none;
    }

    .left {
        display: none;
    }

    .eea-marcadeagua img {
        /*padding-top: 70%;*/
    }
}

@media only screen and (min-width: 877px) {
    .intro-description {
        padding-left: 8%;
    }

    .banner-tittle {
        font-size: 45px;
    }

    .arrows {
        display: inline-block;
    }

    .left {
        display: inline-block;
    }

    .right {
        display: inline-block;
    }

    .eea-marcadeagua img {
        /*padding-top: 61%;*/
    }
}

@media only screen and (min-width: 991px) {
    .intro-description {
        padding-left: 23%;
    }

    .intro-texto {
        padding-left: 23%;
    }

    .fabric-full-img {
        height: 470px;
    }

    .eea-marcadeagua img {
        /*padding-top: 45%;*/
    }
}

@media only screen and (min-width: 1000px) {
    .intro-description {
        padding-left: 10%;
    }

    .intro-texto {
        padding-left: 14%;
    }

    .vertical-text {
        display: table;
    }

    .verticalLine {
        display: table;
    }

    .eea-marcadeagua img {
        /*padding-top: 36%;*/
    }
}

@media only screen and (min-width: 1230px) {
    .intro-description {
        padding-left: 0px;
    }

    .intro-texto {
        padding-left: 4%;
    }

    .eea-marcadeagua img {
        /*padding-top: 31%;*/
    }
}

@media only screen and (min-width: 1445px) {
    .vertical-yard-line {
        margin-top: 23%;
    }
}

@media screen and (max-width: 552px) {
    .about {
        min-height: 650px !important;
        overflow: auto !important;
    }

    .eea-marcadeagua {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
        min-height: 200px !important;
    }
}

.banner {
    opacity: 1.8;
    width: 100%;
    height: auto;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: block;
}

.banner-tittle {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 6.4px;
}

.container-banner {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
}

.left-tittle {
    position: absolute;
    top: 53%;
    margin-left: 42%;
    transform: translate(-50%, -50%);
    width: 35%;
    text-align: left;
    font-weight: 800;
}

.left-tittle,
span {
    display: table;
}

.padding-14 {
    padding-bottom: 14px;
}

.icons-banner {
    display: block;
}

.social-icons-banner {
    display: grid;
    position: absolute;
    top: 53%;
    left: 96%;
}

.quality-text {
    color: #fff;
    text-align: left;
    letter-spacing: 4.8px;
    color: #ffffff;
    opacity: 1;
}

.intro-text {
    /*padding-left: 24%;*/
}

.intro-section {
    position: relative;
    color: #858585;
    font-family: "Montserrat", sans-serif;
}

.yard-utilities {
    padding-top: 2%;
}


h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 span {
    background: #fff;
    margin: 0 15px;
}

h2:before,
h2:after {
    background: black;
    height: 2px;
    flex: 1;
    content: '';
}

h2.left:after {
    background: none;
}

h2.right:before {
    background: none;
}

.intro-section {
    position: relative;
    color: #858585;
    font-family: "Montserrat", sans-serif;
}

.yard-utilities {
    padding-top: 2%;
}

.intro {
    min-width: 200px;
    max-width: 350px;
    margin-right: 9%;
    float: right;
    font-family: "Montserrat", sans-serif;
}

.intro-description {
    word-spacing: 8px;
    font-size: 15px;
}

h1 {
    letter-spacing: 6.4px;
    color: #ffffff;
    font-size: 34px;
    font-weight: 500;
    padding-top: 3%;
}

.vertical-yard-line {
    display: inline-grid;
    margin-right: -1%;
    float: right;
    margin-top: 25%;
}

.verticalLine {
    border-left: 2px solid #858585;
    height: 177px;
    margin-left: 29%;
}

.vertical-text {
    writing-mode: vertical-rl;
    float: right;
    margin-right: 13%;
    margin-top: 6%;
}

.yard-img {
    float: left;
    padding-top: 20%;
}

.yard-img,
.yard-img img {
    width: 100%;
}

.fabric-full-img {
    width: 100%;
    margin-top: 5%;
}

.about {
    font-family: "Montserrat", sans-serif;
    min-height: 550px;
    /*height: 882px;*/
}

.about-div {
    position: relative;
    display: contents;
}

.about-aside {
    float: right;
    /*padding-right: 15%;*/
    color: #858585;
}

.about-aside .description {
    padding-left: 10%;
    padding-right: 20%;
}

.about-aside aside {
    padding-right: 2%;
}

.eea-marcadeagua {
    width: 100%;
    margin-bottom: 50px;
    min-height: 600px !important;
}

.eea-marcadeagua img {
    width: 100%;
    position: absolute;
    opacity: 0.1;
}

.intro-texto {
    font-family: "Montserrat", sans-serif;
}

.about-icons {
    text-align: left;
}

.about-icons {
    margin-top: 100px;
}

.about-icons .col-md-4 {
    margin-right: 0%;
    margin-left: 0px;
    padding-left: 0px;
}

.about-icons .col-md-4 i,
.about-icons .col-md-4 h4 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
}

.about-icons .col-md-4 .icon,
.about-icons .col-md-4 h4 {
    margin-bottom: 50px;
}