/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./public/styles/contact.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.contact_leftTittle__vV81o {
    position: absolute;
    top: 53%;
    margin-left: 42%;
    transform: translate(-50%, -50%);
    width: 35%;
    text-align: left;
    font-weight: 800;
}

.contact_banner__iozCx {
    height: 644px !important;;
    opacity: 0.1 !important;;
    padding-top: 2% !important;
    padding-left: 25% !important;
}

.contact_leftTittle__vV81o,
.contact_page-body__MCUH7 span {
    display: table;
}

.contact_container__igvBG {
    position: relative;
    text-align: center;
    color: white;
    height: 463px;
}

.contact_bannerTittle__z88Ch {
    font-size: 45px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 6.4px;
}

.contact_contactSectionForm__RRdWl {
    height: 100%;
    margin: 0 auto;
    display: table;
    padding-bottom: 8%;
}

.contact_label__0kQ8m {
    color: #c4c4c4 !important;
    /* padding-top: 7%; */
    padding-bottom: 2% !important;
}

.contact_input__lCZ8L {
    background-color: #707070;
    width: 100%;
}

.contact_textarea__r5QxI {
    background-color: #707070;
    width: 100%;
}

.contact_page-body__MCUH7 span {
    padding-left: 0px !important;
}

@media only screen and (min-width: 768px) {
    .contact_container__igvBG>.contact_navbar-collapse__tbZlF {
        padding-top: 1%;
        padding-left: 31%;
    }
}

.contact_banner__iozCx {
    opacity: 0.2;
    width: 100%;
    height: auto;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: block;
}

.contact_bannerTittle__z88Ch {
    font-size: 45px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 4.4px;
}

.contact_containerBanner__eROFE {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
}

.contact_leftTittle__vV81o {
    position: absolute;
    top: 53%;
    margin-left: 47%;
    transform: translate(-50%, -50%);
    width: 47%;
    text-align: left;
    font-weight: 800;
}

.contact_leftTittle__vV81o,
.contact_page-body__MCUH7 span {
    display: table;
}

.contact_padding14__SiKNt {
    padding-bottom: 14px;
}

.contact_iconsBanner__vNPXG {
    display: block;
}

.contact_socialIconsBanner__BWkEB {
    display: grid;
    position: absolute;
    top: 53%;
    left: 96%;
}

.contact_bottom-left__gUeM2 {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.contact_arrowP__xzmES {
    font-size: 15px;
}

.contact_qualityText__mBIhN {
    color: #fff;
    text-align: left;
    letter-spacing: 4.8px;
    color: #ffffff;
    opacity: 1;
}

.contact_introText__fdRkD {
    padding-left: 24%;
}

.contact_introSection__mNZIP {
    position: relative;
    color: #858585;
    font-family: "Montserrat", sans-serif;
    float: right;
}

.contact_yardUtilities__6qOYR {
    padding-top: 13%;
}


.contact_page-body__MCUH7 h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_page-body__MCUH7 h2 span {
    background: #fff;
    margin: 0 15px;
}

.contact_page-body__MCUH7 h2:before,
.contact_page-body__MCUH7 h2:after {
    background: black;
    height: 2px;
    flex: 1;
    content: '';
}

.contact_page-body__MCUH7 h2.contact_left__TrLjg:after {
    background: none;
}

.contact_page-body__MCUH7 h2.contact_right__0dcLG:before {
    background: none;
}

.contact_introSection__mNZIP {
    position: relative;
    color: #858585;
    font-family: "Montserrat", sans-serif;
}

.contact_yardUtilities__6qOYR {
    padding-top: 13%;
}

.contact_intro__QLftS {
    position: absolute;
    width: 48%;
    font-family: "Montserrat", sans-serif;
}

.contact_introDescription__6_LHj {
    word-spacing: 8px;
}

.contact_page-body__MCUH7 h1 {
    letter-spacing: 6.4px;
    color: #ffffff;
    font-size: 34px;
    font-weight: 500;
    padding-top: 3%;
}

.contact_verticalYardLine__Oxlhh {
    display: table;
    left: 3%;
    float: right;
    padding-top: 6%;
    padding-right: 56%;
    width: 100%;
}

.contact_verticalLine__nmgzr {
    border-left: 2px solid #858585;
    height: 177px;
    margin-left: 29%;
}

.contact_verticalText__T6umi {
    color: white;
    display: table;
    width: 100%;
    writing-mode: vertical-rl;
    float: right;
    padding-top: 25%;
    padding-right: 81%;
}

.contact_yardImg__W4Fxq {
    float: left;
    padding-top: 10%;
}

.contact_yardDesc__Oa449 {
    display: inline-block;
}

.contact_yardImg__W4Fxq img {
    height: 350px;
}

.contact_fabricFullImg__OBxLG {
    width: 100%;
    height: 100%;
}

.contact_about__bJrHW {
    font-family: "Montserrat", sans-serif;
}

.contact_about__bJrHW p {
    font-size: 17px;
}

.contact_aboutDiv__jizbE {
    position: relative;
    display: contents;
}

.contact_aboutAside__I2xCu {
    float: right;
    padding-right: 15%;
    color: #858585;
}

.contact_eeaMarcadeagua__azkiu {
    height: 200px;
}

.contact_watermark__U7qm4 {
    width: 97%;
    position: absolute;
    opacity: 0.1;
}

.contact_card__GpL51 {
    background-color: tomato;
}

.contact_cardImage__pp6P3 {
    padding: 0px;
    height: 250px;
}

.contact_cardDiv__jpW1X {
    padding: 0px;
    height: 250px;
}

.contact_eeaMarcadeagua__azkiu {
    position: relative;
    color: white;
}

.contact_bottomRight__VBaFB {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.contact_btnSubmit__0Kqnz {
    color: white;
    background-color: grey;
    width: 105px;
    text-transform: uppercase;
    font-size: 15px;
}

.contact_input__lCZ8L,
.contact_page-body__MCUH7 textarea {
    opacity: 0.3;
    color: white;
}

.contact_input__lCZ8L.contact_error__dtxXy,
.contact_page-body__MCUH7 textarea.contact_error__dtxXy {
    border: solid 1px;
    border-color: #d95055;
    border-radius: 3px 0 0 3px;
}

.contact_page-body__MCUH7 input:-internal-autofill-selected {
    background-color: #707070 !important;
}
