/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./public/styles/about.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
@media only screen and (min-width: 270px) {
    .about_verticalText__K5bYw {
        display: none;
    }

    .about_verticalLine__9ua9w {
        display: none;
    }

    .about_bannerTittle__zpBk2 {
        font-size: 17px;
    }

    .about_arrows__TYRgS {
        display: none;
    }

    .about_right__dB6ZQ {
        display: none;
    }

    .about_left__av0S_ {
        display: none;
    }

    .about_intro__muVTx {
        width: 30%;
        margin-left: 8%;
    }

    .about_yardUtilitiesDiv___UpKD {
        display: none;
    }

    .about_yardSection__5TK03 {
        display: none;
    }

    .about_imgFluid__gwJ_1 {
        width: 100%;
    }

    .about_sectionFabrication__6vX4p {
        display: table;
        margin: 0 auto;
    }

    .about_productDiv__z1k7M {
        display: table;
        margin: 0 auto;
    }

    .about_shallowSection__K8ugp {
        display: table;
        margin: 0 auto;
    }

    .about_shallowAlign__Lbz01 {
        margin: 0 auto;
        display: table;
    }

}

@media only screen and (min-width: 577px) {
    .about_introSectionLine__JwPVp{
        float: left;
        margin-left: 32%;
    }

    .about_imgFluid__gwJ_1 {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {

    .about_bannerTittle__zpBk2 {
        font-size: 36px;
    }

    .about_arrows__TYRgS {
        display: none;
    }

    .about_introSectionLine__JwPVp{
        margin-left: 8%;
    }
}

@media only screen and (min-width: 768px) {
    .about_container__Jobzt>.about_navbar-collapse__dy70F {
        padding-top: 1%;
    }

    .about_intro__muVTx {
        width: 30%;
        margin-left: 8%;
    }

    .about_sectionFabrication__6vX4p {
        display: inline-block;
    }
}

@media only screen and (min-width: 877px) {
    .about_introDescription__hjghB {
        padding-left: 8% ;
    }

    .about_bannerTittle__zpBk2 {
        font-size: 45px;
    }

    .about_arrows__TYRgS {
        display: inline-block;
    }

    .about_left__av0S_ {
        display: inline-block;
    }

    .about_right__dB6ZQ {
        display: inline-block;
    }

    .about_intro__muVTx {
        width: 20%;
        margin-left: 20%;
    }
}

@media only screen and (min-width: 991px) {
    .about_introDescription__hjghB {
        padding-left: 23%;
    }

    .about_intro-text__dUl7g {
        padding-left: 23%;
    }

    .about_yardUtilitiesDiv___UpKD {
        display: inline-block;
    }

    .about_introTexto__WMCgb {
        padding-left: 23%;
    }

    .about_yardSection__5TK03 {
        display: table;
    }

    .about_imgFluid__gwJ_1 {
        width: 94%;
    }

}

@media only screen and (min-width: 1000px) {
    .about_introDescription__hjghB {
        padding-left: 10%;
    }

    .about_intro-text__dUl7g {
        padding-left: 14%;
    }

    .about_verticalText__K5bYw {
        display: table;
    }

    .about_verticalLine__9ua9w {
        display: table;
    }

    .about_introTexto__WMCgb {
        padding-left: 14%;
    }
}

@media only screen and (min-width: 1230px) {
    .about_introDescription__hjghB {
        padding-left: 0px;
    }

    .about_introTexto__WMCgb {
        padding-left: 4%;
    }
}

.about_introTexto__WMCgb {
    font-family: "Montserrat", sans-serif !important;
}

.about_banner__SdY_P {
    opacity: 1.8;
    width: 100%;
    height: auto;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: block;
}

.about_bannerTittle__zpBk2 {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 6.4px;
}

.about_containerBanner__7EJv1 {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
}

.about_leftTittle__q0Crv {
    position: absolute;
    top: 53%;
    margin-left: 42%;
    transform: translate(-50%, -50%);
    width: 35%;
    text-align: left;
    font-weight: 800;
}

.about_leftTittle__q0Crv,
.about_page-body__zdLWa span {
    display: table;
}

.about_padding14__eXuok {
    padding-bottom: 14px;
}

.about_iconsBanner__qvb7b {
    display: block;
}

.about_socialIconsBanner__WkPFV {
    display: grid;
    position: absolute;
    top: 53%;
    left: 96%;
}

.about_arrows__TYRgS {
    position: absolute;
    top: 73%;
    left: 64%;
    width: 22%;
}

.about_left__av0S_ {
    position: absolute;
    top: 75%;
    left: 62%;
}

.about_right__dB6ZQ {
    position: absolute;
    top: 75%;
    left: 82%;
}

.about_arrows__TYRgS .about_fa__1bQZA,
.about_fa__1bQZA {
    font-size: 19px;
}

.about_bottom-left__6fPxI {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.about_arrow-p__NFORO {
    font-size: 10px;
    padding-right: 39%;
}

.about_quality-text__iZBfr {
    color: #fff;
    text-align: left;
    letter-spacing: 4.8px;
    color: #ffffff;
    opacity: 1;
}

.about_intro-text__dUl7g {
    padding-left: 24% !important;
}

.about_intro-section__W3fqu {
    position: relative !important;
    color: #858585 !important;;
    font-family: "Montserrat", sans-serif !important;
    float: right !important;
}

.about_yardUtilities__aDoB0 {
    padding-top: 13%;
}


.about_page-body__zdLWa h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_page-body__zdLWa h2 span {
    background: #fff;
    margin: 0 15px;
}

.about_page-body__zdLWa h2:before,
.about_page-body__zdLWa h2:after {
    background: black;
    height: 2px;
    flex: 1;
    content: '';
}

.about_page-body__zdLWa h2.about_left__av0S_:after {
    background: none;
}

.about_page-body__zdLWa h2.about_right__dB6ZQ:before {
    background: none;
}

/* .intro-section {
    position: relative;
    color: #858585;
    font-family: "Montserrat", sans-serif;
} */

.about_yardUtilities__aDoB0 {
    padding-top: 13%;
}

.about_intro__muVTx {
    min-width: 200px !important;
    max-width: 350px !important;
    margin-right: 9%;
    /* float: right; */
    font-family: "Montserrat", sans-serif !important;
}

.about_introDescription__hjghB {
    word-spacing: 8px !important;;
}

.about_page-body__zdLWa h1 {
    letter-spacing: 6.4px;
    color: #ffffff;
    font-size: 34px;
    font-weight: 500;
    padding-top: 3%;
}

.about_verticalYardLine__8wteU {
    display: table;
    left: 3%;
    float: right;
    padding-top: 6%;
    padding-right: 56%;
    width: 100%;
}

.about_verticalLine__9ua9w {
    border-left: 2px solid #858585;
    height: 177px;
    margin-left: 29%;
}

.about_verticalText__K5bYw {
    color: white;
    display: table;
    width: 100%;
    writing-mode: vertical-rl;
    float: right;
    padding-right: 81%;
}

.about_yardImg__ERApj {
    float: left;
    padding-top: 10%;
}

.about_yardDesc__qjkDV {
    display: inline-block;
}

.about_yardImg__ERApj img {
    height: 350px;
}

.about_fabricFullImg__cMJ4m {
    width: 100%;
    height: 470px;
    margin-top: 5%;
}

.about_about__OYttO {
    font-family: "Montserrat", sans-serif;
    height: 882px;
}

.about_about__OYttO p {
    font-size: 17px;
}

.about_aboutDiv__dbmx5 {
    position: relative;
    display: contents;
}

.about_aboutAside__pzldi {
    float: right;
    padding-right: 15%;
    color: #858585;
}

.about_eeaMarcadeagua__kkpST {
    height: 200px !important;
}

.about_eeaMarcadeagua__kkpST img {
    padding-top: 24% !important;
    width: 97% !important;
    position: absolute !important;
    opacity: 0.1 !important;
}

.about_card__vzSh1 {
    background-color: tomato;
}

.about_greyBoxCard__t8w7U {
    background-color: #EDEDED !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.about_greyBoxCard2__ERsdo {
    font-weight: 700 !important;
    text-align: center !important;
    font-size: 15px !important;
}

.about_greyBoxCard__t8w7U .about_bottom__TLWbU {
    width: 100% !important;
    background-color: #22222266 !important;
    height: 10px !important;
    bottom: 0px !important;
    position: absolute;
}

.about_shallowSection__K8ugp {
    display: table;
    margin: 0 auto;
}

.about_introSection__bgQvL {
    position: relative;
    color: #858585;
    font-family: "Montserrat", sans-serif;
    float: right !important;
}

.about_topBoxes__9XsKy {
    height: 200px;
    font-weight: 700;
    margin-bottom: 5%;
    margin-top: 5%;
    /*width: 100%;*/
}

.about_serviceTitle__M5n1W {
    padding: 15%;
}
